body {
  font-family:
    var(--font-alegreya),
    var(--font-poppins),
    var(--font-dancingScript);
  background: #222222;
}
/* en el tailwin.config.ts se definen */

/* Desplazamiento suave global para toda la aplicación */
body, html {
  scroll-behavior: smooth;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.image-gallery {
  columns: 5 250px;
  column-gap: 10px;
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.image-item {
  margin-bottom: 10px;
  position: relative;
  break-inside: avoid; /* Evita que los elementos se dividan entre columnas */
  display: inline-block; /* Asegura que los elementos se comporten correctamente en columnas */
  width: 100%; /* Ocupa el 100% del ancho de la columna */
}

.image-item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  display: block;
}


/* Estilos para el formula;rio */

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding: 10px;
  margin-top: 10px;
  
}

form {
  display: flex;
  flex-flow: column;
  background-color: white;
  width: 100%;
  height: 80%;
  padding: 20px;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0, 8) 0px 0px 50px;
  border-radius: 10px; 
}

input, textarea {
  border: none;
  resize: none;
  outline: none;
  padding: 5px 0px;
  width: 80%;
  margin: 20px;
  transition: all 300ms;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  overflow: unset;
}

input:focus, textarea:focus {
  border-bottom: 1px solid #000;
}

.button__enviar {
  border: none;
  outline: none;
  padding: 15px;
  width: 200px;
  color: black;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
  margin: 20px 0px;
  cursor: pointer;
  transition: all 300ms;
}

.button__enviar:hover {
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
}