body {
  font-family:
    var(--font-alegreya),
    var(--font-poppins),
    var(--font-dancingScript);
  background: #222222;
}
/* en el tailwin.config.ts se definen */

/* Desplazamiento suave global para toda la aplicación */
body, html {
  scroll-behavior: smooth;
}

@tailwind base;
@tailwind components;
@tailwind utilities;



/* Manejando imagenes  que parescan como el pinterest*/
.image-gallery {
 columns: 5 250px;
 column-gap: 10px ;

 margin: 10px;
 padding: 10px;
 box-sizing: border-box;
}
.image-item {
  margin-bottom: 10px;
  position: relative;
  
}

.image-item img {
  width: 100%;
  height: auto;
  border-radius: 10px; 
  object-fit: cover; /* Esto asegura que la imagen se ajuste bien */
}



.test-hidden {
  
}
