body {
  font-family:
    var(--font-alegreya),
    var(--font-poppins),
    var(--font-dancingScript);
  background: #222222;
}
/* en el tailwin.config.ts se definen */






@tailwind base;
@tailwind components;
@tailwind utilities;